/* -------------------------------------------------------------------------- *
 * Theme
 * -------------------------------------------------------------------------- */

/* --- General -------------------------------------------------------------- */

body {
  background-color: #FAFAFA;
}
a {
  color: #0F53BD;
}
a:hover {
  color: #77A8F4;
}
.bg-image.no-image {
  background-color: #66BB6A;
}

/* --- Navbar --------------------------------------------------------------- */

.navbar {
  background-color: #1B5E20;
  color: #FFFFFF;
}
.navbar a {
  color: white;
}
.navbar--nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 0;
}

/* --- Header --------------------------------------------------------------- */

.header {
  background-color: #333;
  color: white;
}
.header .navbar.fixed.autohide.show {
  background-color: #1B5E20;
}
.header--subtitle {
  color: #ddd;
}

/* --- Content -------------------------------------------------------------- */

.post--content > h1,
.post--content > h2,
.post--content > h3,
.post--content > h4,
.post--content > h5,
.post--content > h6 {
  border-color: #1B5E20;
}
.post--content p > code {
  background-color: #e0f2f1;
  color: #1B5E20;
}
.post--content blockquote {
  background-color: #e0f2f1;
  border-color: #1B5E20;
}
.post--tags a {
  color: #888;
  background-color: rgba(127,127,127,0.15);
}
.post--tags a:hover {
  background-color: rgba(127,127,127,0.3);
}

/* --- Cards ---------------------------------------------------------------- */

.card {
  background-color: white;
}
.card.image .bg-darken {
  color: white;
}
.card-image .bg-lighten {
  color: black;
}
.card--back {
  background-color: #333;
  color: white;
}

/* --- Author --------------------------------------------------------------- */

.author {
  background-color: rgba(0,0,0,.05);
}
.author--media {
  background-color: #1B5E20;
}

/* --- FABs ----------------------------------------------------------------- */

.fab {
  color: white;
  background-color: #0F53BD;
}
.fab:hover {
  color: white;
}

/* --- Buttons -------------------------------------------------------------- */

.button.solid {
  color: white;
  background-color: #0F53BD;
}

/* --- Waves ---------------------------------------------------------------- */

.wave {
  background-color: white;
}

/* --- Footer --------------------------------------------------------------- */

.footer {
  background-color: #EEEEEE;
}
.footer a {
  color: #9E9E9E;
}
.footer a:hover {
  color: #BDBDBD;
}
.footer--top {
  color: rgba(0, 0, 0, 0.87);
}
.footer--bottom a {
  color: rgba(0, 0, 0, 0.87);
}
.footer--bottom a:hover {
  color: rgba(0, 0, 0, 0.54);
}
.footer--bottom {
  color: rgba(0, 0, 0, 1);
}
